@model IEnumerable<CRUD_NetCore.Models.Especialidad>
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
        </tr>
    </thead>
    <tbody>
        @* datos rescatados desde bd *@
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Descripcion</td>
                <td><a asp-action="Editar" asp-route-id="@item.IdEspecialidad">Editar</a></td>
            </tr>
        }
    </tbody>
</table>